* {
  box-sizing: border-box;
}

body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif; 
  font-weight: 400;
  color: #292930;
  margin: 1%;
}

h1 {
  font-size: 3.7em;
  font-weight: 400;
  font-family: 'Montserrat', sans-serif;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 1.1em;
  line-height: 1.2em;
  margin-top: 0;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 1.7em; 
  padding-top: .5em;
}

h4 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 1.3em;   
}

h5 {
  font-size: 1.1em;
  line-height: 1.5em;  
}

p {
  font-size: 1.1em;
  line-height: 1.5em;
}

ul {
  font-size: 1.1em;
  line-height: 1.4em;
}

li {
    margin-bottom: 10px;
}

a {
  text-decoration: none;
  color: #FF503B;
}

a:hover {
  color: #CC3C29;
}

a:active {
  color: #7F342B;
}

a:visited {
  color: #FF503B;
}

video {
  width: 95%;
  height: auto;
  padding-bottom: 1rem;
}

.textdiv {
  padding: 0 5px;
}

.vid-cap {
    margin-right: 7%;
    margin-bottom: 5%;
    
}

.sample-cat_fullrow {
    max-width: 1500px;
}

.pre-graphic {
    margin-bottom: 30px;
}

.section-end {
    margin-bottom: 40px;
}

.vid-title {
    margin-top: 15px;
}

.gallery {
    width: 100%;
    margin-bottom: 25px;
}

.gd-img {
    width: 100%;
    margin-bottom: 0px;
}

.gd-img-src {
  width: 100%;
  margin-bottom: 0px;
  padding-left: -15px;
}

.gd-title {
    margin-top: 0;
    font-style: italic;
}

.nav li {
    font-size: 1em;
    border: 1px solid #292930;
    color: #292930;
}

.details {
    font-weight: bold;
}

.cat-photo {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto 15px auto;
}

.cat-details {
    padding: 10px 25px 20px 25px;
    background-color: #f8f8f8;
    border: 1px solid #e7e7e7;
    margin-bottom: 25px;
}

.icontainer {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 66.66%; /* 3:2 Aspect Ratio */
}

.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}